parameters:

    paths:
        - src/

    # Level 10 is the highest level
    level: 10

    ignoreErrors:
        #- '#PHPDoc tag @var#'
        #- identifier: trait.unused
        - identifier: method.notFound
        #- identifier: return.unusedType
        #- identifier: phpDoc.parseError
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: argument.type
        - identifier: assign.propertyType
        - identifier: return.type
        - identifier: method.nonObject
